IaC/
dist/
build/
env/
venv/
*.spec
# docs/*
# _csv/*.csv
# _ipgroups/*.yaml
# _policies/*.yaml
# bicep/*.bicep
scripts/libraries/__pycache__/*
scripts/libraries_common/__pycache__/*
# requirements.txt
*.exe