{# bicep_template.jinja2 #}
// Bicep file generated automatically from YAML ipgroups

{% for data in yaml_contents -%}
{% set location = data.get("location") -%}
{% set ip_addresses = data.get("ipAddresses", []) -%}
{% set resource_name = data.get("filename", "resource").replace(" ", "_") -%}
 
resource {{ resource_name }} 'Microsoft.Network/ipGroups@{{ api_version }}' = {
  name: '{{ resource_name }}'
  location: '{{ regionName }}'
  properties: {
    ipAddresses: [
{%- for ip in ip_addresses %}
      '{{ ip }}'
{%- endfor %}
    ]
  }
}
{% endfor -%}